RITHMIC_SOURCE_MODE=rtrader-excel
RITHMIC_WS_URL=wss://rituz00100.rithmic.com:443
RITHMIC_SYSTEM_NAME=Rithmic Test
RITHMIC_USER=
RITHMIC_PASSWORD=
RITHMIC_APP_NAME=jahu:Olisa Labs Platform
RITHMIC_APP_VERSION=0.1.0
RITHMIC_GATEWAY_HOST=127.0.0.1
RITHMIC_GATEWAY_PORT=8793
RITHMIC_ENABLE_DEPTH_BY_ORDER=true
RITHMIC_EXCEL_STALE_MS=3000
RITHMIC_SUBSCRIPTIONS=CME:MNQU6,CME:NQU6,CME:ESU6,CME:MESU6
RITHMIC_ALLOWED_ROOTS=CME:ES,CME:MES,CME:NQ,CME:MNQ,CME:RTY,CME:M2K,CBOT:YM,CBOT:MYM,NYMEX:CL,NYMEX:MCL,NYMEX:QM,NYMEX:NG,NYMEX:QG,NYMEX:RB,NYMEX:HO,COMEX:GC,COMEX:MGC,COMEX:SI,COMEX:SIL,COMEX:HG,NYMEX:PL,NYMEX:PA,CBOT:ZN,CBOT:TN,CBOT:ZB,CBOT:UB,CBOT:ZF,CBOT:ZT,CME:10Y,CME:SR3,CME:6E,CME:M6E,CME:6J,CME:6B,CME:M6B,CME:6A,CME:M6A,CME:6C,CME:6S,CME:6N,CME:6M,CME:BTC,CME:MBT,CME:ETH,CME:MET,CBOT:ZC,CBOT:ZS,CBOT:ZW,CBOT:ZM,CBOT:ZL,CME:LE,CME:HE,CME:GF
KWANTIFY_MARKET_DATA_GATEWAY_TOKEN=
DATABENTO_API_KEY=
QUANTDATA_API_KEY=
VENDOR_REQUEST_TIMEOUT_MS=30000
QUANTDATA_MIN_SPACING_MS=80
QUANTDATA_EDGE_CACHE_MS=2500
