RITHMIC_WS_URL=wss://rituz00100.rithmic.com:443
RITHMIC_SYSTEM_NAME=Rithmic Test
RITHMIC_USER=
RITHMIC_PASSWORD=
RITHMIC_APP_NAME=jahu:Olisa Labs Platform
RITHMIC_APP_VERSION=0.1.0
RITHMIC_GATEWAY_HOST=127.0.0.1
RITHMIC_GATEWAY_PORT=8793
RITHMIC_ENABLE_DEPTH_BY_ORDER=true
RITHMIC_SUBSCRIPTIONS=CME:MNQU6,CME:NQU6,CME:ESU6,CME:MESU6
KWANTIFY_MARKET_DATA_GATEWAY_TOKEN=
